<div aria-label="Main">
  <div class="panel-toggle" (click)="open = !open">
    <span class="sr-only">Main Menu</span>
    @if (open) {
    <app-cross class="icon" />
    } @else {
    <app-hamburger-menu class="icon" />
    }
  </div>
  <div class="panel" [class.open]="open">
    <div class="items">
      @for (item of menu; track item.name) {
      <div>
        <div class="link" (click)="navigate(item.link)">{{ item.name }}</div>
        @if (item.children) {
        <div class="children">
          @for (child of item.children; track child.name) {
          <div>
            <div class="link" (click)="navigate(child.link)">
              {{ child.name }}
            </div>
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
