<div aria-label="Main">
  <div (click)="open = !open" [attr.aria-expanded]="open">
    <span class="sr-only">Main Menu</span>
    @if (open) {
    <app-cross aria-hidden="true" />
    } @else {
    <app-hamburger-menu aria-hidden="true" />
    }
  </div>
  <div class="panel">
    <div class="items">
      @for (item of menu; track item.name) {
      <div>
        <div class="link" (click)="navigate(item.link)">{{ item.name }}</div>
        @if (item.children) {
        <div class="children">
          @for (child of item.children; track child.name) {
          <div>
            <div (click)="navigate(child.link)">{{ child.name }}</div>
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
