<nav>
  <div class="items">
    @for (item of menu; track item.name) {
    <div class="items__item">
      @if (item.children) {
      <div class="submenu-toggle" (click)="item.open = !item.open">
        {{ item.name }}
        <app-chevron-down class="icon" />
      </div>
      <div class="children" [class.open]="item.open">
        @for (child of item.children; track child.name) {
        <div class="children__item">
          <div class="link" (click)="navigate(child.link)">
            {{ child.name }}
          </div>
        </div>
        }
      </div>
      } @else {
      <div class="link" (click)="navigate(item.link)">{{ item.name }}</div>
      }
    </div>
    }
  </div>
</nav>
