<nav>
  <div class="items">
    @for (item of menu; track item.name) {
    <div class="items__item">
      @if (item.children) {
      <div
        class="submenu-toggle"
        (click)="item.open = !item.open"
        [attr.aria-expanded]="item.open"
      >
        {{ item.name }}
        <app-chevron-down aria-hidden="true" class="icon" />
      </div>
      <div class="children">
        @for (child of item.children; track child.name) {
        <div class="children__item">
          <div (click)="navigate(child.link)">
            {{ child.name }}
          </div>
        </div>
        }
      </div>
      } @else {
      <div class="link" (click)="navigate(item.link)">{{ item.name }}</div>
      }
    </div>
    }
  </div>
</nav>
